@import url('file:///C:\Users\Andrew\Downloads\websiteassets\about.html');

body {
    font-family: "century gothic";
    background-color: #FFF9FC;
    background-image: url(logolightopacity.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topnav {
    background-color: #FF66B2;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 32px;
    width: 25%
}

.topnav a:hover {
    background-color: #FF007F;
    color: white;
}

.topnav a.active {
    background-color: #FF007F;
    color: white;
}

.brief {
    position: absolute;
    top: 670px;
    background-color: beige;
}
.pp {
    margin-left: 10em;
    margin-top: 5em;
}